<% provide(:title, 'All teachers') %>
<h1>All teachers</h1>

<%= will_paginate %>

<ul class="teachers">
 <%= render @teachers %>
</ul>

<%= will_paginate %>

<!-- <% provide(:title, 'All teachers') %>
<h1>All teachers</h1>

<%= will_paginate %>

<ul class="teachers">
  <% @teachers.each do |teacher| %>
    <li>
      <%= gravatar_for teacher, size: 50 %>
      <%= link_to teacher.name, teacher %>
    </li>
  <% end %>
</ul>

<%= will_paginate %> -->
